avaricsent_dictionary_cbow.txt
Блокнот без названия (22).pdf
venv/
myenv_new/
myenv/
avaricsent_dictionary_cbow_last.txt
avaricsent_prelast1.1.txt
avaricsent_prelast1.2.txt
avaricsent_prelast1.3.txt
avaricsent_prelast1.3.txt
avaricsent_prelast1.3.txt
avaricsent_prelast1.txt
avaricsent_prelast2.1.txt
avaricsent_prelast2.2.txt
avaricsent_prelast2.3.txt
avaricsent_prelast2.txt
avaricsent1_pre.txt
avaricsent1.txt
avaricsent2_pre.txt
avaricsent2.txt
avaricsentlast1.1.txt
avaricsentlast1.txt
avaricsentlast2.1.txt
avaricsentlast2.txt
avaricsentlemma1.txt
avaricsentlemma2.0.1.txt
avaricsentlemma2.0.2.txt
avaricsentlemma2.txt
avaricsentlemma3.0.1.txt
avaricsentlemma3.0.2.txt
avaricsentlemmatok1.txt
avaricsentlemmatok2.2.0.txt
avaricsentlemmatok2.txt
avaricsentlemmatokещдщц2.txt
avaricsentlemmatoktolow1_num.txt
avaricsentlemmatoktolow1_num2.0.txt
avaricsentlemmatoktolow1_num2.1.txt
avaricsentlemmatoktolow1_num2.2.txt
avaricsentlemmatoktolow1_num2.3.txt
avaricsentlemmatoktolow1.2.0.txt
avaricsentlemmatoktolow1.txt
avaricsentlemmatoktolow2_num.txt
avaricsentlemmatoktolow2_num2.0.txt
avaricsentlemmatoktolow2_num2.1.txt
avaricsentlemmatoktolow2_num2.2.txt
avaricsentlemmatoktolow2_num2.3.txt
avaricsentlemmatoktolow2_num2.3.txtt
avaricsentlemmatoktolow2.txt
count_bad.py
count_tokens.py
count_uniq.py
last_preprocces.py
lemmatizator_second_time.py
most_simular.py
output.txt
preporocess.py
txt_to_npy.py
